@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header{
    margin-top: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    background-color: #1a1a1b; /*transparent;*/
    /* background-color: #00ffddd2;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: #08D9D6;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    white-space: nowrap;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.5rem;
    color: white;
    margin-left: 3.5rem;
    font-weight: 550;
    transition: 0.3s ease;
    border-bottom: 4px solid transparent;
}

nav a:hover,
nav a.active{
    color: #08D9D6;
    border-bottom: 3px solid #08D9D6;
}


@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #08D9D6;
        border-bottom: 3px solid #08D9D6;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #08D9D6;
    }
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #08D9D6;
    z-index: 9999;
    transition: width 0.2s ease-out; /* Add smooth transition */
}


section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
    margin-bottom: 10rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.3;
}

span{
    color: #08D9D6;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.home-content p{
    font-size: 1.8rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #08D9D6;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #08D9D6;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #08D9D6;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #08D9D6;
    box-shadow: 0  0 25px #08D9D6;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #08D9D6;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #08D9D6;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #08D9D6;
    color: black;
    box-shadow: 0 0 25px #08D9D6;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
    text-align: center;
}

.typing-text span::before{
    content: "software Engineer";
    color: #08D9D6;
    animation: words 20s infinite;
    text-align: center;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
    text-align: center;
}

@keyframes cursor{
    to{
        border-left: 3px solid #08D9D6;
    }
}

@keyframes words{
    0%, 25%{
        content: "     Software Engineer";
    }
    26%, 50%{
        content: "             Developer";
    }
    51%, 75%{
        content: " Competitive Programmer";
    }
    76%, 100%{
        content: "    Instructor & Mentor";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 3rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

/*************** education Section *****************/
.education {
    padding: 5rem 9%;
    background-color: black; /* Match background with the rest of your site */
    color: white; /* Ensure text is visible */
    text-align: center; /* Center all text in the section */
}

.education h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #08D9D6;
    text-align: center; /* Center h2 specifically */
}
.education h3{
    color: #08D9D6;
    font-size: 2.5rem;
}
.education-content {
    font-size: 2rem;
    text-align: center; /* Center text within education content */
}


.education-content {
    flex: 1 1 100%; /* One column layout */
    background-color: #444444;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

/**************************/

.experience {
    padding: 5rem 9%;
    background-color: black; /* Match background with the rest of your site */
    color: white; /* Ensure text is visible */
    text-align: center; /* Center text */
    margin-bottom: 4rem; /* Space below the experience section */
}

.experience h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #08D9D6; /* Match your theme color */
}

.experience-content {
    flex: 1 1 100%; /* One column layout */
    font-size: 1.6rem;
    text-align: left; /* Align text to the left for readability */
    border-radius: 10px;
    padding: 25px;
    background-color: #444444;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 4px 8px rgba(48, 46, 46, 0.466);
}

.experience-content ul {
    list-style-type: disc; /* Bullet points for the list */
    padding-left: 20px; /* Indent the list */
}


/* Projects Section */
.projects {
    padding: 5rem 9%;
    background-color: black; /* Match background with the rest of your site */
    color: white; /* Ensure text is visible */
    margin-bottom: 5rem; /* Space below the projects section */
}

.projects h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: #08D9D6; /* Match your theme color */
    text-align: center; /* Center the title */
}

.projects h3 {
    color: #08D9D6;
    text-align: left;
}

.projects a {
    color: #08D9D6;
    font-size: 1.5rem;
    text-decoration: underline;
    transition: color 0.3s;
    text-align: center;
}

.projects-content {
    font-size: 1.6rem;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.projects-content ul {
    list-style-type: disc; /* Bullet points for the list */
    padding-left: 10px; /* Indent the list */
}

.project-item {
    flex: 1 1 100%; /* One column layout */
    background-color: #444444;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-item h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #08D9D6;
}

.project-item p {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.project-item a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.project-item a:hover {
    color: #0056b3;
}

/* Projects Description and Tools */
.project-description p {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.project-tools h4 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #08D9D6;
}

.project-tools ul {
    list-style-type: disc;
    margin-left: 30px;
}

.project-tools ul li {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Ensure Flexbox Layout Consistency */
.project-content {
    display: flex; /* Use flexbox to align description and demo side by side */
    justify-content: space-between; /* Space between items */
    gap: 20px; /* Space between description and demo */
}

.project-description {
    flex: 1; /* Allow the description to take available space */
}

.project-demo {
    flex: 0 0 384px; /* Fixed width for the video demo */
    text-align: center; /* Center the video */
    margin: 20px 0; /* Space above and below the demo section */
}

.project-demo h4 {
    font-size: 1.2rem; /* Slightly larger font for the demo heading */
    margin-bottom: 10px; /* Space below the heading */
    color: #08D9D6; /* Match your theme color */
}

.project-demo iframe {
    width: 300px; /* Full width for responsiveness */
    height: 420px; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners for the video */
}

/* Optional: Responsive adjustments */
@media (max-width: 768px) {
    .project-content {
        flex-direction: column; /* Stack items on smaller screens */
    }

    .project-demo {
        flex: none; /* Remove fixed width for smaller screens */
        width: 100%; /* Full width for smaller screens */
    }
}

@media (max-width: 400px) {
    .project-demo iframe {
        width: 100%; /* Full width on smaller screens */
        height: auto; /* Maintain aspect ratio */
    }
}


/* achievements */

.achievements {
    padding: 3rem 9%;
    background-color: black; /* Match background with the rest of your site */
    color: white; /* Ensure text is visible */
    margin-bottom: 4rem; /* Space below the achievements section */
}

.achievements h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #08D9D6; /* Match your theme color */
    text-align: center; /* Center the title */
}

.achievements-content {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* Space between achievements */
}

.achievement-item {
    background-color: #444444; /* Darker background for each achievement */
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align all items */
}

.achievement-item img {
    width: 600px; /* Set image size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20px; /* Round corners */
    margin-bottom: 1.2rem; /* Space below image */
}

.achievement-item h3 {
    font-size: 2rem;
    color: #08D9D6; /* Match your theme color */
    margin-bottom: 0.5rem; /* Space below title */
}

.achievement-item p {
    font-size: 1.6rem;
    text-align: center; /* Center align the description */
    margin-bottom: 1.2rem; /* Space below description */
}

.achievement-item a {
    color: #08D9D6; /* Match link color */
    font-size: 1.4rem;
    text-decoration: underline; /* Underline the link */
    transition: color 0.3s;
}

.achievement-item a:hover {
    color: white; /* Change link color on hover */
}


/* ********************************** */

.volunteering {
    padding: 5rem 9%;
    background-color: black; /* Match background with the rest of your site */
    color: white; /* Ensure text is visible */
    margin-bottom: 4rem; /* Space below the volunteering section */
}

.volunteering h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #08D9D6; /* Match your theme color */
    text-align: center; /* Center the title */
}
.volunteering h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #08D9D6; /* Match your theme color */

}

.volunteering-content {
    display: flex;
    flex-direction: column;
    gap: 4rem; /* Space between volunteering experiences */
}

.volunteering-item {
    font-size: 1.5rem;
    background-color: #444444; /* Darker background for each volunteering item */
    padding: 2rem;
    border-radius: 8px;
}


/* Skills Section */
.skills {
    background-color: black;
    padding: 5rem 9%;
    color: white;
}

.section-title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #08D9D6;
    margin-bottom: 4rem;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4rem;
    flex-wrap: wrap;
}

.skill-category {
    background-color: #161616;
    border: 1px solid #08D9D6;
    padding: 2rem;
    border-radius: 10px;
    width: 22%;
    box-shadow: 0 0 25px #08D9D6;
}

.skill-category h3 {
    font-size: 2.4rem;
    color: #08D9D6;
    margin-bottom: 1.5rem;
}

.skill-category ul {
    list-style-type: none;
}

.skill-category li {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: white;
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-category {
        width: 80%;
        margin-bottom: 2rem;
    }
}

/* Contact Us */
.contact {
    background-color: black;
    padding: 5rem 9%;
    color: white;
}

.section-title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: #08D9D6;
    margin-bottom: 4rem;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 4rem;
    flex-wrap: wrap;
}

.contact-info, .contact-form {
    background-color: #161616;
    border: 1px solid #08D9D6;
    padding: 2rem;
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 25px #08D9D6;
}

.contact-info h3 {
    font-size: 2.4rem;
    color: #08D9D6;
    margin-bottom: 1.5rem;
}

.contact-info p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: white;
}

.contact-info a {
    color: #08D9D6;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #08D9D6;
    border-radius: 4px;
    background-color: #161616;
    color: white;
    margin-bottom: 1.5rem;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #999;
}

.contact-form .btn {
    background-color: #FF2E63;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.6rem;
}

.contact-form .btn:hover {
    background-color: #08D9D6;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-info, .contact-form {
        width: 80%;
        margin-bottom: 2rem;
    }
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content h3 {
    margin: 10px 0;
    font-size: 24px;
}

.footer-content p {
    margin: 5px 0;
    font-size: 14px;
}
.footer-social-icons {
    margin-top: 10px;
}
.footer-social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}
.footer-social-icons a:hover {
    color: #08D9D6;
}